body, html, button {
    font-family: Montserrat !important;
}

button {
    text-transform: none !important;
    border-radius: 7px !important;
}

#root {
    background-color: #FFFCED;
  }
  
  #container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
  #navBar {
      width: 100vw;
      height: 42px;
      background-color: #fffdf4;
      transition: 0.2s;
      display: flex;
      padding: 15px;
  }
    
  .floatingNav {
      width: calc(100vh - 100px); 
      border-radius: 2px;
      box-shadow: 0px 1px 10px #999;
    }
  
  .logo {
      max-width: 100%;
      max-height: 100%;
  }
  
  .btn {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  
    font-family: Montserrat;
  
    border: none;
  
    margin-left: 13px;
  }
  
  .btn-danger {
    background-color: #FF6C50;
    box-shadow: 0px 2px 0px #B53C2C;
    border-radius: 7px;
    
    color: #fffdf4;
  }
  
  .btn-danger:before {
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:'';
    background-color:#DD6048;
    border-radius: 7px;
  }
  
  .btn-danger:hover::before {
    -webkit-transition:0.5s all ease;
      transition:0.5s all ease;
      left:0;
      right:0;
      opacity:1;
  }
  
  .btn-danger:active::before {
    -webkit-transition:0.3s all ease;
      transition:0.3s all ease;
      left:0;
      right:0;
      opacity:1;
      background-color: #AA403C;
  }
  
  .btn-warning {
    background-color: #FCBF4A;
    box-shadow: 0px 2px 0px #AF7923;
    border-radius: 7px;
    
    color: #7E5504;
  }
  
  .btn-warning:before {
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:'';
    background-color:#D6A02C;
    border-radius: 7px;
  }
  
  .btn-warning:hover::before {
    -webkit-transition:0.5s all ease;
      transition:0.5s all ease;
      left:0;
      right:0;
      opacity:1;
  }
  
  .btn-warning:active::before {
    -webkit-transition:0.3s all ease;
      transition:0.3s all ease;
      left:0;
      right:0;
      opacity:1;
      background-color: #AF7923;
  }
  
  
  
  
  .btn-image {
    height: 40px;
  }
  
  .fa-image-40 {
    height: 20px;
    width: 18px !important;
  }
    
  .ml-10 {
    margin-left: 10px;
  }
  
  .ml-15 {
    margin-left: 15px !important;
  }
  
  .mr-10 {
    margin-right: 10px;
  }
  
  .mr-15 {
    margin-right: 15px;
  }

  .mr-5 {
    margin-right: 5px;
  }
  
  .flex-row {
    display: flex !important;
    flex-direction: row;
  }
  
  .float-right {
    position: absolute;
    right: 0px;
  }
  
  .hd-100 {
    height: 100%
  }
  
  .menu {
    border-right: solid 2px #EFECDC;
    margin-right: 5px;
  }
  
  .menu-item {
    border: 0;
    background: transparent;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    height: 42px;
  
    color: #22303D;
  
    margin-left:10px;
    margin-right:10px;
  }
  
  .menu-item:before {
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:'';
    color:#B7B091;
    border-radius: 7px;
  }
  
  .menu-item:hover {
    color:#B7B091;
    fill: #22303D;
  }
  
  .menu-item svg {
    margin-left: 10px;
    fill: #22303D;
  }
  
  .menu-item:hover svg {
    fill: #B7B091;
  }
  
  .footer {
    background-color:#22303D;
    color: #FFFCED;
    padding: 28px;
    padding-bottom: 55px;
  
    font-weight: 600;
    font-size: 12px;
    line-height: 147.4%;
    width: 100%;
  }
  
  .footer-copyright {
    width: 20%;
  }
  .footer-section {
    width: 15%;
  }
  .footer-space {
    min-width: 5%;
  }
  .footer-link {
    width: 15%;
  }
  
  .footer-header {
    font-size: 14px;
    font-weight: 800;
  }
  
  .footer-follow-links {
    margin-right: 5px;
  }
  
  .page-space {
    margin-top : 72px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFEFB;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0px 0px 10px 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 20px;
    right: 0px;
  }
  
  .dropdown-content a {
    color: #22303D;
    padding: 8px 18px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  
  .badge {
    width:fit-content;
    border-radius: 10px;
    height: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    margin: 2px 0px 0px 10px;
  }
  
  .badge-danger {
    background: #FF6C50;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    font-family: Montserrat;
    color: #FFFCED;
  }
  
  .page-content {
    width: 1040px;
    position:relative;
    text-align: center;
    margin: auto;
    padding: 45px;
    background: #FFFCED;
  }
  
  iframe {
    width: 70vw;
    max-width: 1040px;
    height: calc(70vh - 16px);
    max-height: 510px;
    border: 0;
    background: #F8F4E1;
    margin:auto;
  }
  
  .row {
    padding: 10px 0px;
    justify-content: center;
  }
  
  .frame-vc {
    position: relative;
  }
  
  .rect {
    width: 48px;
    height: 48px;
    position:absolute;
  }
  
  .rect-1 {
    background: #FF6C50;
    left: -80px;
    top: 212px;
  }
  
  .rect-2 {
    background: #22303D;
    left: -128px;
    top: 164px;
  }
  
  .rect-3 {
    background: #30C5A8;
    left: -80px;
    top: 0px;
  }
  
  .rect-4 {
    background: #FCBF4A;
    left: -32px;
    top: 48px;
  }
  
  .rect-5 {
    background: #30C5A8;
    left: 24px;
    bottom: -18px;
  }
  
  .rect-6 {
    background: #1571FF;
    left: -24px;
    bottom: -18px;
  }
  
  .rect-7 {
    background: #FB98B4;
    left: -24px;
    bottom: 30px;
  }
  
  .rect-8 {
    background: #FB98B4;
    right: -18px;
    bottom: -18px;
  }
  
  .rect-9 {
    background: #1571FF;
    right: -66px;
    bottom: 30px;
  }
  
  .rect-10 {
    background: #FF6C50;
    right: -18px;
    bottom: 78px;
  }
  
  .rect-11 {
    background: #22303D;
    right: -66px;
    top: 260px;
  }
  
  .rect-12 {
    background: #FCBF4A;
    right: -114px;
    top: 164px;
  }

  .mt-10 {
    margin-top: 5vh;
  }

  .mg-8 {
    margin: 8px !important;
  }

  .mg-10 {
    margin: 10px !important;
  }

  .mg-0 {
    margin: 0px;
  }

  .mh-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .iframe-template {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  @font-face {
    font-family: 'Tovari Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Tovari Sans Bold'), url('TovariSans.woff') format('woff');
    }

  .market-label {
    font-family: 'Tovari Sans Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 47px;

    color: #1571FF;
    text-shadow: 0px 2px 0px #0045AE;
  }

  .market-sublabel {
    font-family: 'Tovari Sans Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 27px;

    color: #FF6C50;
    text-shadow: 0px 1px 0px #B53C2C;
    
    margin: auto 0px !important;
  }

  .market-info-tag {
    color: #DBD6BF;
  }

  .market-listing-btn {
    border: 1px solid #308D7B !important;
  }

  .market-customizing-btn {
    border: 1px solid #30C5A8 !important;
  }

  .right {
    position:absolute;
    right: 0;
  }

  .market-row {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .market-title {
    position:relative;
    border-bottom: 1px solid #EFECDC;
  }

  .market-slide {
    width: 90%;
  }

  .market-expand {
    margin: auto;
  }
  .market-expand-link {
    margin: auto 1vh  !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #B7B091 !important;
    display: flex;
    flex-direction: column;
    width: 54px;
    height: 100px;
  }

  .slick-issue {
    min-width:0;
    max-height:0;
  }

  .card {
    width: 177px;
    background: #FFFEFB;
    border: 1px solid #EAE5CE;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
    border-radius: 7px;

    margin: 10px 20px 10px 0px !important;
  }

  .card p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    margin: auto 0px;
  }

  .card-img {
    width: 177px;
    height: 154px;
    border-radius: 7px 7px 0px 0px;
  }

  .card-label {
    height: 20px;
    padding: 7px 15px;
  }

  .card-price {
    margin: auto 0px !important;
    height: 20px;
  }

  .market-form-control {
    margin-left: 10px !important;
  }
  .market-map-select {
    background: #FFFCED !important;
    box-sizing: border-box !important;
    border-radius: 7px !important;

    font-family: Montserrat !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 11px !important;
    line-height: 13px !important;

    color: #9D9468 !important;
    height: 29px;
  }

  .MuiMenu-list option {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    padding: 5px 10px;
  }

  .card-dialog {
    border: 1px solid #D9D2B5;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.08);
    
  }
  
  .modal-card-content {
    padding: 0px !important;
    width: 70vw !important;
    height: 35vw !important;
    max-width: 992px !important;
    max-height: 482px !important;
    border: 0px !important;
  }

  .expanded-card-img {
    height: 100%;
    width: 50%;
    border-radius: 0px 0px 0px 0px;
  }

  .expanded-card-content {
    width: calc(50% - 52px);
    padding: 52px 36px;
  }

  .modal-nav-label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #9D9468;
  }

  .market-modal-row {
    padding: 20px 0px 0px 0px;
  }

  .modal-header-label {
    font-family: 'Tovari Sans Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 47px;
    color: #FF6C50;
    text-shadow: 0px 1px 0px #B53C2C;
  }

  .modal-content {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;

    /* Black */
    color: #22303D;
  }

  .price-layout {
    background: #FFFEFB;
    border: 1px solid #EAE5CE;
    border-radius: 7px;
    padding: 13px 19px;
  }

  .price-header-label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    /* Black */
    color: #22303D;
  }

  .price-row {
    display: flex;
    flex-direction: row;
    padding: 19px 0px;
  }

  .price-sector {
    width: 50%;
    display: flex;
    flex-direction: row;
  }

  .price-label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;

    /* Black */
    color: #22303D;
    margin-left: 5px;
  }

  .price-dex-label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;

    color: rgba(34, 48, 61, 0.5);
    margin-top: 15px;
  }

  .modal-buy-arcade-btn {
    border: 1px solid #FCBF4A !important;
    width: calc(50% - 8px);
  }

  .modal-buy-usd-btn {
    border: 1px solid #AF7923 !important;
    width: calc(50% - 8px);
  }

  .modal-close {
    position: absolute !important;
    right: 1vw;
    top: 2vh;
    color: #CAC197 !important;
    width: 26px;
    height: 26px;
    border: solid 1px #CAC197 !important;
    border-radius: 15px !important;
  }
  
  .wallet-cage {
    display: none;
  }

  .menu-close {
    display: none !important;
    position: absolute !important;
    right: 1vw;
    top: 1vh;
    color: #CAC197 !important;
    width: 26px;
    height: 26px;
    border: none !important;
    padding: 0px !important;
  }

  @media screen and (max-width: 600px) {
    .wallet-cage {
      display: block;
    }

    .menu-inspect {
      display: flex !important;
      position: fixed !important;
      height: 100vh;
      width: 70vw;
      top: 0;
      right: 0;
      flex-direction: column !important;      
      background: #FFFEFA;
      box-shadow: -4px 0px 21px rgba(0, 0, 0, 0.08);
    }

    .hidden-menu {
      display: none !important;
    }

    .menu {
      display: flex;
      flex-direction: column;
      margin-right: auto !important;
      margin-left: 8vw !important;
      margin-top: 8vh !important;
      margin-bottom: 8vh !important;
      border: none !important;
    }

    .menu-item {
      text-align: left;
    }

    .menu-close {
      display: block !important;
    }
    
    .menu-btn {
      width: calc(100% - 16vw) !important;
      margin: 2vh 8vw !important;
    }

    .dropdown-content {
      position: relative;
      background-color: #FFFEFB;
      box-shadow: none;
      border-radius: none;
      right: 0px;
    }

    .flex-row {
      flex-direction: column;
    }

    .row {
      margin-top: 10px ;
      padding-bottom: 10px;
    }

    .market-label {
      font-size: 32px;
      line-height: 27px;
  
    }

    .r-no-padding {
      padding-top: 0px !important;
    }

    .market-listing-btn {
      display: none !important;
    }

    .market-info-tag {
      display: none !important;
    }

    .market-header-action {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 10vh;
      background: #FFFDF1;
      box-shadow: 0px -4px 13px rgba(0, 0, 0, 0.08);
      z-index: 100;
      padding:auto !important;
    }

    .market-header-action button {
      margin: auto !important;
    }

    .market-sublabel {
      font-size: 26px;
      line-height: 22px;
    }

    .market-slide {
      width: 960px;
    }

    .card .flex-row {
      flex-direction: row;
    }

    .market-expand {
      margin-left: 0px !important;
    }

    .market-expand a{
      flex-direction: row;
      width: fit-content;
      height: auto;
      position: relative;
      height: 20px;
    }

    .market-expand p{
      margin: auto 0px !important;
      position: relative;
    }

    .market-expand svg {
      position: absolute;
      right: -1.5rem;
    }
    
    .r-flex-row {
      flex-direction: row;
    }

    #arcade_map {
      flex-direction: row;
    }

    #skin_slider {
      padding-top: 0 !important;
    } 

    #map_slider {
      padding-top: 0 !important;
    }

    .dropdown-content a {
      margin-left: 10px !important;
      margin-right: 10px !important;
      padding-left: 10px !important;
    }

    #footer {
      margin-bottom: 10vh !important;
    }
  }

  .menu-expand {
    margin: 0px !important;
    margin-left: auto !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  
  
    